<h2>Personal Information</h2>
<%= form_for @user, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t "shared.error_messages", count: f.object.errors.size %>.
      </div>
      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "Continue", class: "btn btn-primary" %>
    <%= link_to "Skip", next_wizard_path, class: "btn btn-primary" %>
  </div>
<% end %>
